In [1]:
# Imports
import pandas as pd
import numpy as np

In [20]:
load_file = "dados_compras.json"
purchase_file = pd.read_json(load_file, orient = "records")
purchase_file.head()

,Login,Idade,Sexo,Item ID,Nome do Item,Valor
0,Aelalis34,38,Masculino,165,Bone Crushing Silver Skewer,3.37
1,Eolo46,21,Masculino,119,"Stormbringer, Dark Blade of Ending Misery",2.32
2,Assastnya25,34,Masculino,174,Primitive Blade,2.46
3,Pheusrical25,21,Masculino,92,Final Critic,1.36
4,Aela59,23,Masculino,63,Stormfury Mace,1.27

## Buyer count

In [21]:
xbuyers=purchase_file.drop_duplicates(subset=["Login"])
num_buyers=len(xbuyers)

print("The total number of buyers is", num_buyers)

The total number of buyers is 573

In [22]:
data_num_buyers={"Total buyers":[num_buyers]}
df_num_buyers=pd.DataFrame(data_num_buyers)
df_num_buyers

   Total buyers
0           573

## General analysis of purchases

In [27]:
xitens=purchase_file.drop_duplicates(subset=["Item ID"])
unique_itens=len(xitens)

print("The total number of buyers is", unique_itens)

The total number of buyers is 183

In [31]:
mean_purchases=purchase_file["Valor"].mean()
format_purchases= "{:.2f}".format(mean_purchases)

print("The average of purchases is", format_purchases)

The average of purchases is 2.93